* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    background-image: linear-gradient(316deg, #ffc857 -70%, #3e2f5b 87%);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


#stratagem {
    font-size: 2rem;
    text-align: center;
}

#logo {
    width: 5rem;
}

#nav {
    margin-left: 15rem;
}

.nav-link {
    position: relative;
    overflow: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    z-index: 1000;
    display: block;
}

.nav-link:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffc107;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-link:hover:before {
    transform: scaleX(1);
}

.nav-link.active:before,
.nav-link:hover:before {
    transform: scaleX(1);
}

.seperator {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    z-index: 1000;
    display: block;
}

.icons i:hover {
    background-color: #310e68;
    background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
    transform: translateY(-5px);
}

.icons {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
}

.icons a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icons i {
    margin-right: 10px;
    font-size: 24px;
    color: white;
    transition: all .50s ease;
}

.show-icons .icons {
    display: flex;
    animation: slideIn 0.5s forwards;
    position: fixed;
    transform: translateY(-50%);
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

#toggle-icon {
    position: fixed;
    left: 10px;
    height: 3rem;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
    z-index: 1100
}

#toggle-icon:hover {
    transform: translateX(5px) translateY(-50%);
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0.8;
    }
}

.btn-lg {
    background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
    border-radius: 50px !important;
    outline: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    animation: pulse 2s infinite;
    font-size: 16px;
    color: white;
}

.btn-lg a {
    text-decoration: none;
    color: white;
}

.btn-lg:hover {
    animation-play-state: paused;
}

#wallbreakers img {
    width: 30rem;
}

.logo-container img {
    border-radius: 500px;
}

.carousel-item img {
    height: 50rem;
}

.scroll-down {
    position: fixed;
    bottom: 6%;
    right: 9%;
}

.scroll-down i {
    display: block;
    padding: 12px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: #310e68;
    background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
    border-radius: 30px;
    transition: all .50s ease;
}

.scroll-down i:hover {
    transform: translateY(-5px);
}

.start-container {
    margin-top: 10rem;
    z-index: 900;
}

#about {
    margin-top: 10rem !important;
}

@media screen and (max-width: 991px) {
    #stratagem-container {
        font-size: -0.8rem !important;
        margin-left: -1.5rem;
    }

    #stratagem {
        font-size: 1.3rem !important;
    }

    #logo {
        width: 4rem !important;
    }

    #nav {
        margin-left: 0rem !important;
    }

    #navbarSupportedContent {
        background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
        opacity: 0.9;
        border-radius: 10px;
    }

    .navbar-toggler {
        background-image: linear-gradient(316deg, #310e68 0%) !important;
    }

    .icons {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 40% !important;
        padding: 0 3% !important;
        margin-left: 12%;
        border-radius: 10px;
        transform: translateY(-50%);
        background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
    }

    #wallbreakers {
        margin-top: 3rem !important;
    }

    #wallbreakers img {
        width: 15rem;
    }

    .logo-container img {
        border-radius: 500px;
        width: 20rem !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}